<h1>Who are you?</h1>
<p> here is the json<%= @response_JSON %></p>
the character is <%= @jg %>
<% if current_page?('/') %>
	<p>We area root</p>
<% end %>
<% if @generated_image_hash != nil %>
	<%= image_tag(@generated_image_hash["512"]) %>
<% end %>
</br>
<%= @generate_faces_query %>



<%= form_with url: home_index_path, method: "POST", local: true do |form| %>
	<%= form.label "Gender:" %>
	<%= form.select(:gender_id, ['Male','Female']) %>

	<%= form.label "Ethnicity:" %>
	<%= form.select(:ethnic_id, ['White','Black', 'Asian', 'Latino', 'Prefer Not To Say']) %>

	<%= form.label "Hair Color:" %>
	<%= form.select(:hair_id, ['Brown','Blond', 'Black', 'Gray', 'Red']) %>

	<%= form.label "Age:" %>
	<%= form.select(:age_id, ['Infant','Child', 'Young-adult', 'Adult', 'Elderly']) %>
	<%= form.submit %>
<% end %>